@mixin colored($backgroundColor, $color) {
    background-color: $backgroundColor;
    color: $color;
}

@mixin defaultButton($borderColor) {
    @include colored(#fff, #393F35);
    border: 2px solid $borderColor;
}

.common {
    cursor: pointer;
    
    border-radius: 10px;
    
    transition: 0.3s background-color, color;
}

.primary {
    @include defaultButton(#E8E74D);
}