@use "../../constants" as *;

.container {
    background-color: $mainColor;

    .backgroundImage {
        height: 250px;
    }

    .content {
        padding: 0 45px;
    }

    .navbar {
        margin-top: 30px;
    }
}