html, body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: Noto-Sans;
    src: url(noto-sans.otf);
}

* {
    font-family: Noto-Sans, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: none;
}

:focus, :active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
}