@import "../../constants";

.container {
    display: grid;
    grid-template-columns: 23fr 50fr 26fr;

    margin: 0 auto;
    max-width: 1280px;
    min-height: 100%;

    background-color: $appColor;
}