$preloaderSize: 60px;

.icon {
    display: block;

    width: $preloaderSize;
    height: $preloaderSize;

    margin: 40px auto;

    animation: 1s round infinite linear;
}

@keyframes round {
    100% {
        transform: rotate(360deg);
    }
}