@use "../../constants";

.container {
    display: flex;
    align-items: center;
    gap: 30px;
    
    font-size: 12px;
    
    .element {
        color: #393F3599;
    }
    
    .withIcon {
        @extend .element;
        display: flex;
        align-items: center;
        
        .icon {
            margin: 5px;
        }
    }

    .bold {
        font-weight: 600;
    }
}

.skeleton {
    gap: constants.$skeletonGap;
}