$regularFontSize: 12px;
$mediumFontSize: 14px;

$appColor: #DAFFE5;
$mainColor: #CAFACC;
$mainDarkerColor: #c3f2c5;
$mainBorderColor: #393F3533;
$mainBorderRadius: 10px;
$usernameColor: #393F35CC;
$activeColor: #4DE87D;
$darkTextColor: #282D24;

$widgetBackground: linear-gradient(180deg, rgba(232, 231, 77, 0.4) 0%, rgba(77, 232, 125, 0.4) 100%);
$widgetBorderColor: rgba(57, 63, 53, 0.2);

$transitionTime: .3s;