html, body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: Noto-Sans;
    src: url(fonts/NotoSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Noto-Sans;
    src: url(fonts/NotoSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Noto-Sans;
    src: url(fonts/NotoSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Noto-Sans;
    src: url(fonts/NotoSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Noto-Sans;
    src: url(fonts/NotoSans-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Noto-Sans;
    src: url(fonts/NotoSans-Light.ttf);
    font-weight: 300;
}

* {
    font-family: Noto-Sans, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: none;
}

:focus, :active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
}