@import "../../constants";

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100%;
    min-width: 100%;
    
    background-color: $appColor;

    .content {
        display: flex;
        flex-direction: column;
        gap: 5vh;
        
        width: 20%;
    }
}