$iconSize: 32px;

.common {
    display: flex;
    align-items: center;

    text-decoration: none;
    margin: 8px;
}

.notActive {
    color: #393F35;
}

.active {
    color: #4DE87D;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: $iconSize;
    height: $iconSize;

    overflow: hidden;
}

.icon {
    height: 100%;
}

.childrenContainer {
    margin-left: 20px;
}